body {
    text-align: center;
}

.title {
  background-color: #330000;
  color: #fff7e6;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-align: center;
}

.subtitle {
  font-style: italic;
}

p {
  font-family: 'Slabo 27px', serif;
}

.instructions {
  margin: 30px;
}

.button {
  margin: 30px;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
}

footer {
  padding: 100px;
  font-size: 10px;
}
